In [7]:
import pandas as pd
import numpy as np
from imblearn.combine import SMOTEENN
from sklearn.model_selection import train_test_split
from sklearn import metrics
from sklearn.metrics import recall_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.tree import DecisionTreeClassifier
import chardet
import os
# importing the necessary libraries

In [8]:
data = open('final_telco.csv', 'rb').read()

In [9]:
chardet.detect(data)['encoding']

'ascii'

In [ ]:
df = Data_Getter().get_data()

In [ ]:
df.head(1)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No

In [6]:
df.head()
# dataset

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [108]:
df = pd.read_csv('WA_Fn-UseC_-Telco-Customer-Churn.csv', encoding='unicode_escape')
df.head()
# reading the dataset

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [109]:
df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [110]:
df=df.drop(['customerID','SeniorCitizen', 'tenure', 'PhoneService', 'MultipleLines',
       'OnlineSecurity', 'OnlineBackup', 'TechSupport', 'StreamingTV', 'StreamingMovies', 
        'PaperlessBilling', 'TotalCharges'], axis=1)
# dropping irrelavent features

In [111]:
df.head()

,gender,Partner,Dependents,InternetService,DeviceProtection,Contract,PaymentMethod,MonthlyCharges,Churn
0,Female,Yes,No,DSL,No,Month-to-month,Electronic check,29.85,No
1,Male,No,No,DSL,Yes,One year,Mailed check,56.95,No
2,Male,No,No,DSL,No,Month-to-month,Mailed check,53.85,Yes
3,Male,No,No,DSL,Yes,One year,Bank transfer (automatic),42.30,No
4,Female,No,No,Fiber optic,No,Month-to-month,Electronic check,70.70,Yes

In [112]:
str.encode('utf-8').strip()

b'utf-8'

In [77]:
df.isnull().sum()

gender              0
Partner             0
Dependents          0
InternetService     0
DeviceProtection    0
Contract            0
PaymentMethod       0
MonthlyCharges      0
Churn               0
dtype: int64

In [78]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   Partner           7043 non-null   object
 2   Dependents        7043 non-null   object
 3   InternetService   7043 non-null   object
 4   DeviceProtection  7043 non-null   object
 5   Contract          7043 non-null   object
 6   PaymentMethod     7043 non-null   object
 7   MonthlyCharges    7043 non-null   float64
 8   Churn             7043 non-null   object
dtypes: float64(1), object(8)
memory usage: 495.3+ KB

In [79]:
df['MonthlyCharges'].unique()
#print the unique values of the 'MonthlyCharges' column

array([29.85, 56.95, 53.85, ..., 63.1 , 44.2 , 78.7 ])

In [113]:
df['Churn'] = np.where(df.Churn == 'Yes',1,0)
# converts the churn coloumn into a  binary 0 and 1

In [114]:
df.head()

,gender,Partner,Dependents,InternetService,DeviceProtection,Contract,PaymentMethod,MonthlyCharges,Churn
0,Female,Yes,No,DSL,No,Month-to-month,Electronic check,29.85,0
1,Male,No,No,DSL,Yes,One year,Mailed check,56.95,0
2,Male,No,No,DSL,No,Month-to-month,Mailed check,53.85,1
3,Male,No,No,DSL,Yes,One year,Bank transfer (automatic),42.30,0
4,Female,No,No,Fiber optic,No,Month-to-month,Electronic check,70.70,1

In [115]:
df_dummies=pd.get_dummies(df)
# creates binary of the coloumns gender	,Partner,	Dependents,	InternetService	DeviceProtection	,Contract,	PaymentMethod

In [116]:
df_dummies.head()

,MonthlyCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,InternetService_DSL,InternetService_Fiber optic,...,DeviceProtection_No,DeviceProtection_No internet service,DeviceProtection_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,29.85,0,1,0,0,1,1,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,56.95,0,0,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,53.85,1,0,1,1,0,1,0,1,0,...,1,0,0,1,0,0,0,0,0,1
3,42.30,0,0,1,1,0,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,70.70,1,1,0,1,0,1,0,0,1,...,1,0,0,1,0,0,0,0,1,0

In [117]:
df_dummies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   MonthlyCharges                           7043 non-null   float64
 1   Churn                                    7043 non-null   int32
 2   gender_Female                            7043 non-null   uint8
 3   gender_Male                              7043 non-null   uint8
 4   Partner_No                               7043 non-null   uint8
 5   Partner_Yes                              7043 non-null   uint8
 6   Dependents_No                            7043 non-null   uint8
 7   Dependents_Yes                           7043 non-null   uint8
 8   InternetService_DSL                      7043 non-null   uint8
 9   InternetService_Fiber optic              7043 non-null   uint8
 10  InternetService_No                       7043 non-null   uint8
 11  DeviceProtection_No                      7043 non-null   uint8
 12  DeviceProtection_No internet service     7043 non-null   uint8
 13  DeviceProtection_Yes                     7043 non-null   uint8
 14  Contract_Month-to-month                  7043 non-null   uint8
 15  Contract_One year                        7043 non-null   uint8
 16  Contract_Two year                        7043 non-null   uint8
 17  PaymentMethod_Bank transfer (automatic)  7043 non-null   uint8
 18  PaymentMethod_Credit card (automatic)    7043 non-null   uint8
 19  PaymentMethod_Electronic check           7043 non-null   uint8
 20  PaymentMethod_Mailed check               7043 non-null   uint8
dtypes: float64(1), int32(1), uint8(19)
memory usage: 213.3 KB

In [85]:
df_dummies.head()

,MonthlyCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,InternetService_DSL,InternetService_Fiber optic,...,DeviceProtection_No,DeviceProtection_No internet service,DeviceProtection_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,29.85,0,1,0,0,1,1,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,56.95,0,0,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,53.85,1,0,1,1,0,1,0,1,0,...,1,0,0,1,0,0,0,0,0,1
3,42.30,0,0,1,1,0,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,70.70,1,1,0,1,0,1,0,0,1,...,1,0,0,1,0,0,0,0,1,0

In [ ]:
os.getcwd()

In [119]:
df_dummies.to_csv('"C:\Users\SAHAYA KEWINSTON\OneDrive\Desktop\customer-churn-prediction-main\final_telco.csv"')
# saving the file to the specified path

In [120]:
df = pd.read_csv('final_telco.csv', encoding='unicode_escape')
df.head()

,Unnamed: 0,MonthlyCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,InternetService_DSL,...,DeviceProtection_No,DeviceProtection_No internet service,DeviceProtection_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,0,29.85,0,1,0,0,1,1,0,1,...,1,0,0,1,0,0,0,0,1,0
1,1,56.95,0,0,1,1,0,1,0,1,...,0,0,1,0,1,0,0,0,0,1
2,2,53.85,1,0,1,1,0,1,0,1,...,1,0,0,1,0,0,0,0,0,1
3,3,42.30,0,0,1,1,0,1,0,1,...,0,0,1,0,1,0,1,0,0,0
4,4,70.70,1,1,0,1,0,1,0,0,...,1,0,0,1,0,0,0,0,1,0

In [121]:
df.drop(['Unnamed: 0'], axis=1,inplace = True)
# dropping the coloumn nmaed unnamed

In [122]:
df.head()

,MonthlyCharges,Churn,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,InternetService_DSL,InternetService_Fiber optic,...,DeviceProtection_No,DeviceProtection_No internet service,DeviceProtection_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,29.85,0,1,0,0,1,1,0,1,0,...,1,0,0,1,0,0,0,0,1,0
1,56.95,0,0,1,1,0,1,0,1,0,...,0,0,1,0,1,0,0,0,0,1
2,53.85,1,0,1,1,0,1,0,1,0,...,1,0,0,1,0,0,0,0,0,1
3,42.30,0,0,1,1,0,1,0,1,0,...,0,0,1,0,1,0,1,0,0,0
4,70.70,1,1,0,1,0,1,0,0,1,...,1,0,0,1,0,0,0,0,1,0

In [123]:
x=df.drop('Churn',axis=1)
x

,MonthlyCharges,gender_Female,gender_Male,Partner_No,Partner_Yes,Dependents_No,Dependents_Yes,InternetService_DSL,InternetService_Fiber optic,InternetService_No,DeviceProtection_No,DeviceProtection_No internet service,DeviceProtection_Yes,Contract_Month-to-month,Contract_One year,Contract_Two year,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
0,29.85,1,0,0,1,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0
1,56.95,0,1,1,0,1,0,1,0,0,0,0,1,0,1,0,0,0,0,1
2,53.85,0,1,1,0,1,0,1,0,0,1,0,0,1,0,0,0,0,0,1
3,42.30,0,1,1,0,1,0,1,0,0,0,0,1,0,1,0,1,0,0,0
4,70.70,1,0,1,0,1,0,0,1,0,1,0,0,1,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,84.80,0,1,0,1,0,1,1,0,0,0,0,1,0,1,0,0,0,0,1
7039,103.20,1,0,0,1,0,1,0,1,0,0,0,1,0,1,0,0,1,0,0
7040,29.60,1,0,0,1,0,1,1,0,0,1,0,0,1,0,0,0,0,1,0
7041,74.40,0,1,0,1,1,0,0,1,0,1,0,0,1,0,0,0,0,0,1
7042,105.65,0,1,1,0,1,0,0,1,0,0,0,1,0,0,1,1,0,0,0

In [124]:
y=df['Churn']
y

0       0
1       0
2       1
3       0
4       1
       ..
7038    0
7039    0
7040    0
7041    1
7042    0
Name: Churn, Length: 7043, dtype: int64

In [125]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
# splitting the dataset into trainning and testing dataset

## Decision Tree classifier

In [126]:
model_dt=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)
# model selection 
# here we have used gini index 
# random  state is 100%

In [127]:
model_dt.fit(x_train,y_train)
# trainning the model

DecisionTreeClassifier(max_depth=6, min_samples_leaf=8, random_state=100)

In [128]:
y_pred=model_dt.predict(x_test)
y_pred
# making the prediction using the trainned model

array([1, 0, 0, ..., 1, 0, 1], dtype=int64)

In [129]:
model_dt.score(x_test,y_test) 
# prints accuracy  score

0.7821149751596878

In [130]:
print(classification_report(y_test, y_pred, labels=[0,1]))

              precision    recall  f1-score   support

           0       0.84      0.87      0.86      1048
           1       0.58      0.52      0.55       361

    accuracy                           0.78      1409
   macro avg       0.71      0.70      0.70      1409
weighted avg       0.78      0.78      0.78      1409

In [131]:
sm = SMOTEENN()
# applying synthetic minority oversampling technique 
X_resampled, y_resampled = sm.fit_resample(x,y)

In [132]:
xr_train,xr_test,yr_train,yr_test=train_test_split(X_resampled, y_resampled,test_size=0.2)

In [133]:
model_dt_smote=DecisionTreeClassifier(criterion = "gini",random_state = 100,max_depth=6, min_samples_leaf=8)

In [134]:
model_dt_smote.fit(xr_train,yr_train)
yr_predict = model_dt_smote.predict(xr_test)
model_score_r = model_dt_smote.score(xr_test, yr_test)
print(model_score_r)
print(metrics.classification_report(yr_test, yr_predict))

0.922077922077922
              precision    recall  f1-score   support

           0       0.92      0.92      0.92       552
           1       0.93      0.93      0.93       603

    accuracy                           0.92      1155
   macro avg       0.92      0.92      0.92      1155
weighted avg       0.92      0.92      0.92      1155

# Saving the model

In [135]:
import pickle

In [136]:
filename = 'telco_model.pkl'

In [137]:
pickle.dump(model_dt_smote, open(filename, 'wb'))

In [138]:
load_model=pickle.load(open(filename, 'rb'))

In [139]:
load_model.score(xr_test, yr_test)*100

# enhanced accuracy

92.20779220779221